#!/bin/csh -f

#
# ENSEMBL configuration file
#

cd `dirname $0` && source ./Configuration

setenv NOMENDATADIR 	/mgi/all/wts_projects/7600/7655/DataLoad/NomenLoad
setenv NOMENDATAFILE 	${NOMENDATADIR}/ENSEMBL_novel_genes
setenv NOMENLOG 	${NOMENDATAFILE}.log
setenv NOMENREFERENCE 	J:91388
setenv NOMENMODE	preview
setenv NOMENBROADCAST	no

