#!/bin/csh -f

#
# ENSEMBL nomen configuration file
#

cd `dirname $0`

if ( ${?MGICONFIG} == 0 ) then
	setenv MGICONFIG /home/lec/build36/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

setenv NOMENDATADIR 	/mgi/all/wts_projects/7600/7655/DataLoad/NomenLoad
setenv NOMENDATAFILE 	${NOMENDATADIR}/ENSEMBL_novel_genes
setenv NOMENREFERENCE 	J:91388

