#!/bin/csh -f

#
# NCBI configuration file
#

if ( ${?MGICONFIG} == 0 ) then
        setenv MGICONFIG /usr/local/mgi/live/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

setenv NOMENDATADIR 	/mgi/all/wts_projects/8200/8260/NomenLoad
#setenv NOMENDATADIR	${NOMENLOAD}/ncbi
setenv NOMENDATAFILE 	${NOMENDATADIR}/NCBI_novel_genes
setenv NOMENLOG         ${NOMENDATAFILE}.log
setenv NOMENREFERENCE 	J:90438
setenv NOMENMODE        broadcast
setenv NOMENSTATUS	"In Progress"

setenv MAPPINGASSAYTYPE assembly
setenv MAPPINGDATADIR   ${NOMENDATADIR}
setenv MAPPINGDATAFILE  ${NOMENDATAFILE}.mapping
setenv MAPPINGLOG       ${MAPPINGDATAFILE}.log
#setenv MAPPINGMODE      full
setenv MAPPINGMODE	incremental
setenv JNUM             ${NOMENREFERENCE}
setenv EXPERIMENTTYPE   "TEXT-Physical Mapping"
setenv CREATEDBY        yz

