#!/bin/csh -f

#
# NCBI configuration file
#

source ./Configuration

setenv NOMENDATADIR 	/mgi/all/wts_projects/7600/7655/DataLoad/NomenLoad
setenv NOMENDATAFILE 	${NOMENDATADIR}/NCBI_novel_genes
setenv NOMENLOG         ${NOMENDATAFILE}.log
setenv NOMENREFERENCE 	J:90438
setenv NOMENMODE        preview
setenv NOMENBROADCAST	no

setenv MAPPINGASSAYTYPE assembly
setenv MAPPINGDATADIR   ${NOMENDATADIR}
setenv MAPPINGDATAFILE  ${NOMENDATAFILE}.mapping
setenv MAPPINGLOG       ${MAPPINGDATAFILE}.log
setenv MAPPINGMODE      preview
setenv JNUM             ${NOMENREFERENCE}
setenv EXPERIMENTTYPE   "TEXT-Physical Mapping"
setenv CREATEDBY        yz

