#!/bin/csh -f

#
# NCBI configuration file
#

if ( ${?MGICONFIG} == 0 ) then
        setenv MGICONFIG /usr/local/mgi/live/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

setenv NOMENDATADIR 	/mgi/all/wts_projects/8500/8528/DataLoad/nomen
setenv NOMENDATAFILE 	${NOMENDATADIR}/NCBI_Novel.txt
setenv NOMENLOG		${NOMENDATAFILE}.log
setenv NOMENREFERENCE 	J:90438
#setenv NOMENMODE	broadcast
setenv NOMENMODE	load
setenv NOMENSTATUS	"In Progress"

setenv MAPPINGASSAYTYPE	assembly
setenv MAPPINGDATADIR	${NOMENDATADIR}
setenv MAPPINGDATAFILE	${NOMENDATAFILE}.mapping
setenv MAPPINGLOG	${MAPPINGDATAFILE}.log
#setenv MAPPINGMODE	full
setenv MAPPINGMODE	incremental
setenv JNUM		${NOMENREFERENCE}
setenv EXPERIMENTTYPE	"TEXT-Physical Mapping"
setenv CREATEDBY	tbreddy

