#!/bin/csh -f

#
# Configuration file for batch merges 
#

if ( ${?MGICONFIG} == 0 ) then
	setenv MGICONFIG /usr/local/mgi/live/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

setenv DATADIR  	
setenv INPUTFILE	${DATADIR}/...
setenv REFKEY		
setenv EVENTKEY 	# MRK_Event
setenv EVENTREASONKEY	# MRK_EventReason
setenv ADDASSYNONYM	1 or 0

setenv NOMENBATCH	${MGI_DBUTILS}/bin/ei/batchWithdrawal.py

