#!/bin/csh -f

#
# Configuration file for batch merges 
#

if ( ${?MGICONFIG} == 0 ) then
    setenv MGICONFIG /usr/local/mgi/live/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

#J:164272 = 165368
#event type = rename (2)
#event reason =  per gene family revision (2)

setenv DATADIR  	/mgi/all/wts_projects/10400/10459
setenv INPUTFILE	${DATADIR}/lori.txt
setenv REFKEY		165368
setenv EVENTKEY 	2
setenv EVENTREASONKEY	2
setenv ADDASSYNONYM	0	

setenv NOMENBATCH       ${MGI_DBUTILS}/bin/ei/batchWithdrawal.py

