#!/bin/csh -f -x

#
# Configuration file for batch merges 
#

if ( ${?MGICONFIG} == 0 ) then
    setenv MGICONFIG /usr/local/mgi/live/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

#J:105741 = 106815
#event type = rename (2)
#event reason =  per gene family revision (2)

setenv DATADIR  	/mgi/all/wts_projects/11600/11664/Rename
setenv INPUTFILE	${DATADIR}/miRBase_Rename
setenv REFKEY		106815
setenv EVENTKEY 	2
setenv EVENTREASONKEY	2
setenv ADDASSYNONYM	0	

setenv EI		${EI_USRLOCALMGI}/ei
setenv EIUTILS		${EI}/prod/mgd
setenv NOMENBATCH	${EIUTILS}/batchWithdrawal.py

