#!/bin/csh -f

#
# Configuration file for batch merges 
#

if ( ${?MGICONFIG} == 0 ) then
    setenv MGICONFIG /usr/local/mgi/live/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

setenv DATADIR  	/mgi/all/wts_projects/8400/8451
setenv INPUTFILE	${DATADIR}/Merges/Merges_no_Syn_chr7-12.txt
setenv REFKEY		85477
setenv EVENTKEY 	3
setenv EVENTREASONKEY	-1
setenv ADDASSYNONYM	0	

setenv EI		${EI_USRLOCALMGI}/ei
setenv EIUTILS		${EI}/prod/mgd
setenv NOMENBATCH	${EIUTILS}/batchWithdrawal.py

