#!/bin/csh -f

#
# UniSTS configuration file (TR 7872)
#

source ./Configuration

setenv NOMENDATADIR 	/mgi/all/wts_projects/7800/7872
setenv NOMENDATAFILE 	${NOMENDATADIR}/UniSTS_MIT_Nomen_Load
setenv NOMENLOG         ${NOMENDATAFILE}.log
setenv NOMENREFERENCE 	J:106743
setenv NOMENMODE        broadcast
setenv NOMENSTATUS	"In Progress"

setenv MAPPINGASSAYTYPE assembly
setenv MAPPINGDATADIR   ${NOMENDATADIR}
setenv MAPPINGDATAFILE  ${NOMENDATAFILE}.mapping
setenv MAPPINGLOG       ${MAPPINGDATAFILE}.log
setenv MAPPINGMODE      incremental
setenv JNUM             ${NOMENREFERENCE}
setenv EXPERIMENTTYPE   "TEXT-Physical Mapping"
setenv CREATEDBY        yz

