#!/bin/csh -f

#
# VEGA configuration file
#

source ./Configuration

setenv NOMENDATADIR 	/mgi/all/wts_projects/8100/8191/data/NomenLoad
setenv NOMENDATAFILE 	${NOMENDATADIR}/VEGA_novel_genes
setenv NOMENLOG         ${NOMENDATAFILE}.log
setenv NOMENREFERENCE 	J:109762
setenv NOMENMODE        broadcast
setenv NOMENSTATUS	"In Progress"

setenv MAPPINGASSAYTYPE assembly
setenv MAPPINGDATADIR   ${NOMENDATADIR}
setenv MAPPINGDATAFILE  ${NOMENDATAFILE}.mapping
setenv MAPPINGLOG       ${MAPPINGDATAFILE}.log
setenv MAPPINGMODE      incremental
setenv JNUM             ${NOMENREFERENCE}
setenv EXPERIMENTTYPE   "TEXT-Physical Mapping"
setenv CREATEDBY        tbreddy

