#!/bin/csh -f

#
# Configuration file for UniSTS batch merges 
#

if ( ${?MGICONFIG} == 0 ) then
	setenv MGICONFIG /usr/local/mgi/live/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

setenv DATADIR  	/mgi/all/wts_projects/7800/7872
setenv INPUTFILE	${DATADIR}/UniSTS_MIT_Rename_Load
setenv REFKEY		107817
setenv EVENTKEY 	2
setenv EVENTREASONKEY	-1
setenv ADDASSYNONYM	1

setenv NOMENBATCH       ${PG_DBUTILS}/bin/ei/batchWithdrawal.py

