#!/bin/csh -f

#
# Configuration file for batch merges 
#

if ( ${?MGICONFIG} == 0 ) then
        setenv MGICONFIG /usr/local/mgi/live/mgiconfig
endif

source ${MGICONFIG}/master.config.csh

setenv DATADIR  	/mgi/all/wts_projects/7900/7992

setenv INPUTFILE	${DATADIR}/merge_no_synonym
setenv ADDASSYNONYM	0

#setenv INPUTFILE	${DATADIR}/merge_synonym
#setenv ADDASSYNONYM	1

setenv REFKEY		85477
setenv EVENTKEY 	3
setenv EVENTREASONKEY	-1

setenv NOMENBATCH       ${PG_DBUTILS}/bin/ei/batchWithdrawal.py

